<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">광고 수정</h1>
      <%= render 'form', ad: @ad %>
      <%= link_to "보기", @ad, method: :get, class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>