<h1>Body Lines</h1>

<table class="responsive nowrap table table-hover" id="dttb-body_lines" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="order">Order</th>
      <th data-data="x">X</th>
      <th data-data="y">Y</th>
      <th data-data="width">Width</th>
      <th data-data="height">Height</th>
      <th data-data="coulumn">Coulumn</th>
      <th data-data="line_number">Line number</th>
      <th data-data="tokens">Tokens</th>
      <th data-data="overflow">Overflow</th>
      <th data-data="working_aticle">Working aticle</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Body Line', new_body_line_path %>