<div class="card-deck">
  <% @yh_photo_trs.each do |yh_photo_tr| %>
    <div class="col-md-3">
      <div class="card mb-3 text-center">
        <%= link_to (image_tag yh_photo_tr.thumb_path, class: "card-img-top", style: "width: 100%;"), yh_photo_tr_path(yh_photo_tr), remote: true %>
        <div class="card-body">
          <h6 class="card-title text-center mb-0"><%= yh_photo_tr.title %></h6>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= yh_photo_tr.created_at.strftime("%y-%m-%d %H:%M") %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
