  <div class ="col-md-4" align='left' style="padding-bottom: 40px;">
    <%= render 'form', publication: @publication %>
  </div>
  <div class="col-md-8">
    <div align="center">
      <%= button_to "다운로드 PDF", download_pdf_publication_path(@publication), method: :get, class: "btn btn-sm btn-danger" %>
    </div>
      <img src="<%= @publication.pdf_image_path %>"></img>
    <div align="center">
      <%= button_to "다운로드 PDF", download_pdf_publication_path(@publication), method: :get, class: "btn btn-sm btn-danger" %>
    </div>
</div>
