<h1>Publication:Belonngs Tos</h1>

<table class="responsive nowrap table table-hover" id="dttb-publication:belonngs_tos" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="page_heading_kind">Page heading kind</th>
      <th data-data="page_type">Page type</th>
      <th data-data="layout_erb">Layout erb</th>
      <th data-data="height_in_lines">Height in lines</th>
      <th data-data="bg_image">Bg image</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Publication:Belonngs To', new_publication:belonngs_to_path %>