<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="text-center">새로운 합성 광고</h1>
      <%= render 'form', combo_ad: @combo_ad %>
    </div>
  </div>
</div>
