
<h3>단락스타일 수정</h3>

<%= render 'form', text_style: @text_style %>

<%= link_to "보기", @text_style, method: :get, class: "btn btn-sm btn-success" %>
<%= link_to "이전으로", text_styles_path, method: :get, class: "btn btn-sm btn-primary" %>
