<!-- div style="padding-left:100px">
    <h1>스타일 가이드</h1>
    <p>스타일 가이드는 신규매체 발행이나 디자인 리뉴얼 작업을 위한 도구입니다.</p>
    <h2 id="-">디자인 요소</h2>
    <h3 id="-">면의 기사박스 위치</h3>
    <p>페이지 메뉴을 선택하고 5단, 6단, 7단 중 하나를 선택하면 해당 페이지 단으로 이미 제작된 면의 기사박스들이 나열된다.</p>
    <p>상세보기을 원하면 보기(show)</p>
    <p>수정하기 원하면 수정(edit)</p>
    <p>지우기를 원하면 지우기(delete)</p>
    <p>그리고 새로운 행목을 생성하려면 하단의 생성하기(new) 버튼을 누른다</p>

    <br>

    <p>아래 항목들을 입력하면 샘플 면이 제작된다</p>

    <ul>
    <li>프로파일</li>
    <li>면의 가로그리드</li>
    <li>먄의 세로그리드</li>
    <li>광고종류이름</li>
    <li>박스위치 정보</li>


    </ul>

    <h3 id="-">판형</h3>
    <ul>
    <li>종이크기</li>
    <li>마진</li>
    <li>그리드</li>
    <li>기사여백</li>
    <li>영역 영백</li>
    </ul>
    <h3 id="-">서체</h3>
    <ul>
    <li>제목</li>
    <li>부제목</li>
    <li>본문</li>
    <li>고딕</li>
    <li>사진설명</li>
    <li>사진제목</li>
  </ul>

    <h3 id="-">이미지</h3>
    <h3 id="-">라인</h3>
    <h3 id="-">광고 크기</h3>
    <h3 id="-">편집규칙</h3>
    <ul>
    <li>일단 제호</li>
    <li>면머리</li>
    <li>제목편집 규칙</li>
    <li>부제목 규칙</li>
    <li>사진설명</li>
    <li>인용문</li>
    <li>문페디자인</li>
    <li>기자이름</li>
    <li>연관기사</li>
    <li>빈공간 처리</li>
    </ul>
</div-->
<div class="col-xs-12 col-md-12">
  <h2>뉴스고 사용메뉴얼</h2>
</div>
<div class="col-xs-12 col-md-12">
  <h3>기사작성</h3>
  <h5>뉴스고CMS에 접속하여 기사작성, 사진입력, 연합(기사,사진)다운, 그래픽 의뢰한다.</h5>
  <h5>크롬에서 <a href="http://newsgo1.naeil.design:3000">http://newsgo1.naeil.design:3000</a>로 접속하여 본인 아이디로 로그인.</h5>
  <p>
    ID : 본인 이메일<br>
    PW : itis+휴대전화 뒷번호 4자리<br>
  </p>
</div>
<div class="col-xs-12 col-sm-3">
  <h4> 메뉴 </h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info"><b>나의 기사</b></li>
    <p></p>
    <li class="list-group-item list-group-item-info"><b>나의 사진</b></li>
    <p></p>
    <li class="list-group-item list-group-item-info"><b>연합 뉴스</b></li>
    <li class="list-group-item">연합 기사</li>
    <li class="list-group-item">연합 사진</li>
    <li class="list-group-item">연합 그래픽</li>
    <p></p>
    <li class="list-group-item list-group-item-info"><b>그래픽 의뢰</b></li>
    <p></p>
    <li class="list-group-item list-group-item-info"><b>로그아웃</b></li>
  </ul>
</div>
<div class="col-xs-12 col-sm-12">
  <h3>면편집</h3>
  <h5>뉴스고 <a href="http://newsgo1.naeil.design:3000">http://newsgo1.naeil.design:3000</a>에 접속</h5>
  <h5>(PC는 크롬 / MAC은 사파리, 크롬)로 접속하여 본인 아이디로 로그인.</h5>
</div>
<div class="col-xs-12 col-sm-3">
  <h4> 기본 메뉴 </h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info"><b>날짜(요일) 호수</b></li>
    <li class="list-group-item list-group-item-success">면배열표</li>
    <li class="list-group-item">출력 현황 - 전송 모니터링 기능</li>
    <li class="list-group-item">전체 보기</li>
    <li class="list-group-item">각팀 지면 편집 - 여기서 편집 수정 마감 전송까지</li>
    <li class="list-group-item">전면광고</li>
    <li class="list-group-item list-group-item-danger">새로운 호생성(관리자)</li>
    <p></p>
    <li class="list-group-item list-group-item-info">기사배정</li>
    <li class="list-group-item">- cms에서 지면으로 전송한 기사의 위치 배정</li>
    <p></p>
    <li class="list-group-item list-group-item-success">광고</li>
    <li class="list-group-item">돌출 광고(1면 에스오일)</li>
    <li class="list-group-item">광고 예약</li>
    <li class="list-group-item">광고 검색</li>
    <p></p>
    <li class="list-group-item list-group-item-info">검색</li>
    <li class="list-group-item">이전신문 보기(지난호 찾기)</li>
    <li class="list-group-item">기사검색(제목, 기사내 검색가능)</li>
    <li class="list-group-item">페이지 검색</li>
    <p></p>
    <li class="list-group-item list-group-item-danger">스타일 편집 ; 편집툴 수정용</li>
    <li class="list-group-item">그래픽 의뢰 처리</li>
    <li class="list-group-item">매체 정보</li>
    <li class="list-group-item">서체 목록</li>
    <li class="list-group-item">페이지 템플렛</li>
    <li class="list-group-item">광고 목록	</li>
    <li class="list-group-item">합성광고 템플렛</li>
    <li class="list-group-item">1면 면머리</li>
    <p></p>
    <li class="list-group-item list-group-item-danger">기자정보 ; 관리자</li>
    <li class="list-group-item">오피니언 저자</li>
    <li class="list-group-item">기고 저자</li>
    <li class="list-group-item">팀별 팀장</li>
    <li class="list-group-item">기자</li>
    <p></p>
    <li class="list-group-item list-group-item-info">로그아웃</li>
  </ul>
</div>
<div class="col-xs-12 col-sm-1">
</div>
<div class="col-xs-12 col-sm-3">
  <h4> 편집 메뉴 </h4>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info"><b>날짜(요일) 호수</b></li>
    <li class="list-group-item list-group-item-success">면배열표</li>
    <li class="list-group-item">출력 현황 - 전송 모니터링 기능</li>
    <li class="list-group-item">전체 보기</li>
    <li class="list-group-item">각팀 지면 편집 - 여기서 편집 수정 마감 전송까지</li>
    <li class="list-group-item">전면광고</li>
    <li class="list-group-item list-group-item-danger">새로운 호생성(관리자)</li>
    <p></p>
    <li class="list-group-item list-group-item-info">기사배정</li>
    <li class="list-group-item">- cms에서 지면으로 전송한 기사의 위치 배정</li>
    <p></p>
    <li class="list-group-item list-group-item-info">사진 크기 조절</li>
    <li class="list-group-item">- 자동으로 사진 크기 조절하기 위한 기능</li>
    <p></p>
    <li class="list-group-item list-group-item-info">발문 추가</li>
    <li class="list-group-item">2행 발문 추가(본문8줄)</li>
    <li class="list-group-item">3행 발문 추가(본문10줄)</li>
    <li class="list-group-item">일반 발문 추가</li>
    <li class="list-group-item">발문 삭제</li>
    <p></p>
    <li class="list-group-item list-group-item-info">부제/안내문 추가</li>
    <li class="list-group-item">본문 부제(고딕_회색) 추가</li>
    <li class="list-group-item">본문 부제(테두리) 추가</li>
    <li class="list-group-item">본문 부제 삭제</li>
    <li class="list-group-item">1단 안내문(내일 쉽니다..) 추가</li>
    <li class="list-group-item">2단 안내문(연속기사..) 추가</li>
    <li class="list-group-item">안내문 삭제</li>
    <p></p>
    <li class="list-group-item list-group-item-danger">기자정보 ; 관리자</li>
    <li class="list-group-item">오피니언 저자</li>
    <li class="list-group-item">기고 저자</li>
    <li class="list-group-item">팀별 팀장</li>
    <li class="list-group-item">기자</li>
    <p></p>
    <li class="list-group-item list-group-item-info">로그아웃</li>
  </ul>
</div>
