<h3>색션정보 수정</h3>

<%= render 'form', section: @section %>

  <!-- 편집화면 상단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group" role="group" aria-label="기능">
      <%= link_to "이전으로", sections_path, method: :get, class: "btn btn-default btn-sm" %>
      <%= link_to "저장된 단락 스타일로 페이지 재생성", regenerate_pdf_section_path(@section), method: :get, class: "btn btn-default btn-sm" %>
      <%= link_to "다운로드 PDF", download_pdf_section_path, method: :get, class: "btn btn-default btn-sm" %>
      </button>
    </div>
  </nav>
