<h1>Editing Annotation Underline</h1>

<%= render 'form', annotation_underline: @annotation_underline %>

<%= link_to 'Show', @annotation_underline %> |
<%= link_to 'Back', annotation_underlines_path %>
