<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">새로운 면머리 배경 이미지</h1>
      <%= render 'form', heading_bg_image: @heading_bg_image %>
    </div>
  </div>
</div>