<p>
  <strong>Heading bg image:</strong>
  <%= @heading_bg_image.heading_bg_image %>
</p>

<p>
  <strong>Page heading:</strong>
  <%= @heading_bg_image.page_heading %>
</p>

<%= link_to 'Edit', edit_heading_bg_image_path(@heading_bg_image) %> |
<%= link_to 'Back', heading_bg_images_path %>
