<h1>성공적으로 페이지 템플렛을 변경 하였습니다.</h1>
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57%" aria-valuemin="0" aria-valuemax="57">

<div align="center">
  <%= link_to "페이지로 이전", page_path(@page), method: :get, class: "btn btn-md btn-success" %>
</div>
