<h1>Pillars</h1>

<table class="responsive nowrap table table-hover" id="dttb-pillars" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="grid_x">Grid x</th>
      <th data-data="grid_y">Grid y</th>
      <th data-data="column">Column</th>
      <th data-data="row">Row</th>
      <th data-data="order">Order</th>
      <th data-data="box_count">Box count</th>
      <th data-data="layout_with_pillar_path">Layout with pillar path</th>
      <th data-data="layout">Layout</th>
      <th data-data="profile">Profile</th>
      <th data-data="finger_print">Finger print</th>
      <th data-data="page_ref">page_ref</th>
      <th data-data="page_ref_type">page_ref type</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Pillar', new_pillar_path %>