<form class="form-inline d-flex justify-content-center">
  <%= search_form_for @q, remote: true do |f| %>
    <div class="input-group col-8">
      <%= f.text_field :title_or_body_cont, placeholder: "검색어를 입력하세요.", class: "form-control" %>
      <div class="input-group-append">
        <%= f.button :submit, class: "btn btn-outline-secondary", id: "button-addon2" do %>
          <span><i class="fa fa-search" aria-hidden="true"></i> 사진 검색</span>
        <% end %>
      </div>
    </div>
  <% end %>
</form>
