<table class="table table-sm table-bordered">
  <thead class="text-center">
    <tr>
      <th >제목</th>
      <th >내용분류</th>
      <th >발행시간</th>
    </tr>
  </thead>
  <tbody>
    <% @yh_articles.each do |article| %>
      <tr>
        <td>
          <%= link_to article.title, article %>
        </td>
        <td class="text-center">
          <%= eval(article.category)[:name] %>
        </td>
        <td class="text-center">
          <%= article.created_at.strftime("%m-%d %H:%M") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @yh_articles, remote: true, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center" %>
