<h3 align="center">연합기사</h3>

<table class="responsive nowrap table table-hover" id="dttb-yh_articles" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="date">날짜</th>
      <th data-data="time">시간</th>
      <th data-data="category">분류</th>
      <th data-data="title">제목</th>
      <th data-data="taken_by">선택</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Yh Article', new_yh_article_path %>