<div class="col-xs-12 col-sm-12">
  <% reporter_graphics.each do |graphic| %>
    <div class="col-md-2">
      <img style="object-fit:cover",  src="<%= graphic.thumb_path %>" width="200px" height="200px"></img>
      <p align="center"><%= graphic.title %></p>
      <%= link_to '그래픽 선택', select_reporter_graphic_working_article_path(@working_article, reporter_graphic: graphic), class: "btn btn-default btn-sm"  %>
    </div>
  <% end %>
</div>


