<div class="row row-cols-1 row-cols-md-4">
  <% reporter_images.each do |picture| %>
    <% if picture.used_in_layout == true %>
    <% else %>
      <div class="col mb-2">
        <div class="card h-100">
          <img src="<%= picture.preview_path %>" class="repoter_img_thumb card-img-top w-100" style="height: 160px;">
          <div class="card-body text-center p-0">
            <span><small><%= truncate(picture.title, length: 10) %></small></span><span><%= link_to '선택', select_reporter_image_working_article_path(@working_article, reporter_image: picture), class: "btn btn-sm btn-primary pt-0 pb-0 pl-1 pr-1" %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>