
<div class="button-group" align="center" >
    <%= link_to "이전으로", working_article_path(@working_article), method: :get, class: "btn btn-md btn-success" %>
</div>

<img width="100%" height="100%" src="<%= @working_article.pdf_image_path %>" ></img>
