// // import the CSS framework
// @import "bootstrap-sprockets";
// @import "bootstrap";

// // make all images responsive by default
// img {
//   @extend .img-responsive;
//   margin: 0 auto;
//   }

// .img-crop {
//     height: 210px;
//     width: 100%;
//     // object-fit: cover;
//     object-fit: contain;
//     // object-position: top;
//     border: 1px solid #000
//     }

// .repoter_img_thumb {
//   height: 100px;
//   width: 100px;
//   // object-fit: cover;
//   object-fit: scale-down;
//   // object-position: top;
//   }

// .img-bg {
//   background-color: #e1e1e1;
//   margin: 2px;
//   padding: 20px;
// }

// // override for the 'Home' navigation link
// .navbar-brand {
//   font-size: inherit;
//   }

// // THESE ARE EXAMPLES YOU CAN MODIFY
// // create your own classes
// // to make views framework-neutralㅇㄴ
// .column {
//   @extend .col-md-6;
//   @extend .text-center;
//   }

// .form {
//   @extend .col-md-6;
//   }

// .form-centered {
//   @extend .col-md-6;
//   @extend .text-center;
//   }
// .submit {
//   @extend .btn;
//   @extend .btn-primary;
//   @extend .btn-lg;
//   }
// // apply styles to HTML elements
// // to make views framework-neutral
// main {
//   @extend .container;
//   background-color: #eee;
//   padding-bottom: 80px;
//   // padding-top: 50px;
//   width: 100%;
//   // margin-top: 51px; // accommodate the navbar
//   margin-top: 0px; // accommodate the navbar
// }
// // section {
// //   @extend .row;
// //   margin-top: 20px;
// //   }

// // Styles for form views
// // using Bootstrap 3
// // generated by the rails_layout gem
// .authform {
//   padding-top: 30px;
//   max-width: 320px;
//   margin: 0 auto;
// }
// .authform form {
//   @extend .well;
//   @extend .well-lg;
//   padding-bottom: 40px;
// }
// .authform .right {
//   float: right !important;
// }
// .authform .button {
//   @extend .btn;
//   @extend .btn-primary;
// }

// .authform fieldset {
//   @extend .well;
// }

// #error_explanation:not(:empty) {
//   @extend .alert;
//   @extend .alert-danger;
// }
// #error_explanation h2 {
//   font-size: 16px;
// }

// .button-xs {
//   @extend .btn;
//   @extend .btn-primary;
//   @extend .btn-xs;
// }

// .btn-right {
//   float:right !important;
// }

// .btn-gray {
//   background-color: #ccc;
// }
// .btn-black {
//   background-color: #bbb;
//   border: 1px solid #fff !important;
// }

// .btn-danger:visited {
//   color: #fff !important;
//   text-decoration: none;
//   background-color: transparent;
//  }

//  .btn-warning:visited {
//   color: #fff !important;
//   text-decoration: none;
//   background-color: transparent;
//  }

//  .btn-primary:visited {
//   color: #fff !important;
//   text-decoration: none;
//   background-color: transparent;
//  }

// .selected_template {
//   border: 4px;
//   color: #fff;
//   background-color: #000;
//   padding-top: 2px;
//   padding-right: 2px;
//   padding-left: 2px;
//   padding-bottom: 2px;

//   &:hover {
//     color: #000;
//     background-color: #ffea00;
//   }
// }

// .unselected_template {
//   border: 4px;
//   color: #000;
//   padding-top: 2px;
//   padding-right: 2px;
//   padding-left: 2px;
//   padding-bottom: 2px;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #000;
//     background-color: #ffea00;
//   }
// }

// .input-form {
//   padding-top: 30px;
//   max-width: 100%;
//   margin: 0 auto;
// }

// .image_container {
//   display: -webkit-flex;
//   display: flex; /* or inline-flex */
//   flex-direction: row;
//   flex-wrap: wrap;

// }

// .image_item {
//   // order: <integer>;
// }

// .flex-container {
//     display: -webkit-flex;
//     display: flex;
//     flex-direction: row;
//     flex-direction: -webkit-row;
//     flex-wrap: wrap;
//     flex-wrap: -webkit-wrap;

//     // width: 400px;
//     // height: 250px;
//     background-color: lightgrey;
// }

// .flex-item {
//     background-color: white;
//     width: 200px;
//     height: 260px;
//     margin: 20px;
// }

// .flex-ad-item {
//     background-color: darkgrey;
//     width: 400px;
//     height: 600px;
//     margin: 20px;
// }

// image:hover {
//     // opacity: 1;
//     border-width: 2px;
//     border: 5px solid #dddddd;
// }

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// *, *:before, *:after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   height: 100vh;
// }

// body {
//   font: 14px/1 'Open Sans', sans-serif;
//   color: #555;
//   background: #eee;
// }

// h1 {
//   padding: 50px 0;
//   font-weight: 400;
//   text-align: center;
// }

// p {
//   margin: 0 0 20px;
//   line-height: 1.5;
// }

// // main {
// //   min-width: 320px;
// //   max-width: 800px;
// //   padding: 50px;
// //   margin: 0 auto;
// //   // background: #fff;
// // }

// .section {
//   display: none;
//   padding: 20px 0 0;
//   border-top: 1px solid #ddd;
// }

// .input_d {
//   display: none;
// }
// .input_e {
//   display: none;
// }

// .taplabel {
//   display: inline-block;
//   margin: 0 0 -1px;
//   padding: 10px 20px;
//   font-weight: 600;
//   text-align: center;
//   color: #555;
//   border: 1px solid transparent;
//   background-color: #ddd;
// }

// label:before {
//   font-family: fontawesome;
//   font-weight: normal;
//   margin-right: 10px;
// }

// label[for*='1']:before { content: '\f035'; }
// label[for*='2']:before { content: '\f03e'; }
// label[for*='3']:before { content: '\f080'; }
// label[for*='4']:before { content: '\f0f6'; }
// label[for*='5']:before { content: '\f1ea'; }
// label[for*='6']:before { content: '\f1a8'; }
// label[for*='7']:before { content: '\f1c5'; }
// label[for*='8']:before { content: '\f181'; }
// label[for*='9']:before { content: '\f00a'; }
// label[for*='10']:before { content: '\f035'; }
// label[for*='11']:before { content: '\f034'; }
// label[for*='12']:before { content: '\f1ea'; }

// label:hover {
//   color: #000;
//   cursor: pointer;
// }

// input:checked + label {
//   color: #000;
//   background-color: #fff;
//   // border: 1px solid #ddd;
//   border-top: 2px solid orange;
//   // border-bottom: 1px solid #fff;
// }

// #tab1:checked ~ #content1,
// #tab2:checked ~ #content2,
// #tab3:checked ~ #content3,
// #tab4:checked ~ #content4,
// #tab5:checked ~ #content5,
// #tab6:checked ~ #content6,
// #tab7:checked ~ #content7,
// #tab8:checked ~ #content8,
// #tab9:checked ~ #content9,
// #tab10:checked ~ #content10,
// #tab11:checked ~ #content11,
// #tab22:checked ~ #content22, {
//   display: block;
// }

// // @media screen and (max-width: 650px) {
// //   label {
// //     font-size: 0;
// //   }
// //   label:before {
// //     margin: 0;
// //     font-size: 18px;
// //   }
// // }

// // @media screen and (max-width: 400px) {
// //   label {
// //     padding: 15px;
// //   }
// // }

// .width2 {
//   width: 300px !important;
//   border: 0px !important;
//   box-shadow: none !important;
// }

// .text-label {
// 	color: #cdcdcd;
// 	font-weight: bold;
// }

// @media print{
//   @page {
//     size:21cm 29.7cm; /*A4*/
//     margin:0
//   }
//   .nav-wrap,
//   #left-menu,
//   #setColor_area,
//   .mapbtn-container{opacity:0;visibility:hidden;display:none;}
//   #contents-wrap{margin-left: 0}
//   .myDivToPrint {
//   visibility: visible;
//   /*background-color: white;*/
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   margin: 0;
//   padding: 0px;
//   font-size: 14px;
//   line-height: 18px;
//   }
//   #map_area{
//   -webkit-print-color-adjust: exact;
//   }
// }

// .page-plan-form {
//   font-size: 12px !important;
//   // display: inline-block;
//   // display: block;
//   width: 100px;
//   height: 20px;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.428571429;
//   color: #555555;
//   background-color: #fff;
//   background-image: none;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
// }

// input[type="radio"] {
//   -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
//   -moz-appearance: checkbox;    /* Firefox */
//   -ms-appearance: checkbox;     /* not currently supported */
//   // position: absolute;
//   width: 14px !important;
//   height: 14px !important;
//   padding: 1px !important;
//   margin: -1px !important;
//   // overflow: hidden;
//   // clip:rect(0,0,0,0);
//   border: 0 !important;
//   font-size: 14px !important;
//   // line-height: 50% !important;
// }

// .wrap-collabsible {
//   margin-bottom: 1.2rem 0;
// }

// // input[type='checkbox'] {
// //   display: none;
// // }

// .none {
//   display: none;
// }

// .lbl-toggle {
//   display: block;
//   font-weight: bold;
//   // font-family: monospace;
//   font-size: 1.2rem;
//   text-transform: uppercase;
//   text-align: center;
//   padding: 1rem;
//   color: #777;
//   background: #ddd;
//   cursor: pointer;
//   // border-radius: 7px;
//   transition: all 0.25s ease-out;
//   margin-bottom: 0px !important;
// }

// .lbl-toggle:hover {
//   color: #000;
// }

// .lbl-toggle::before {
//   content: ' ';
//   display: inline-block;

//   border-top: 5px solid transparent;
//   border-bottom: 5px solid transparent;
//   border-left: 5px solid currentColor;
//   vertical-align: middle;
//   margin-right: .7rem;
//   transform: translateY(-0px);

//   transition: transform .2s ease-out;
// }

// .toggle:checked + .lbl-toggle::before {
//   transform: rotate(90deg) translateX(-3px);
// }

// .collapsible-content {
//   max-height: 0px;
//   overflow: hidden;
//   transition: max-height .25s ease-in-out;
// }

// .toggle:checked + .lbl-toggle + .collapsible-content {
//   max-height: 350px;
// }

// .toggle:checked + .lbl-toggle {
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .collapsible-content .content-inner {
//   background: #ddd;
//   border-bottom: 1px solid #ccc;
//   // border-bottom-left-radius: 7px;
//   // border-bottom-right-radius: 7px;
//   padding: .5rem 1rem;
// }

// .panel-gray {
//   margin-bottom: 20px;
//   background-color: #eee !important;
//   border: 1px solid transparent;
//   border-radius: 4px;
//   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
// }

// .panel-body-dnaeil {
//   background: #eee !important;
// }

// .panel-heading {
//   background-color: #fff !important;
// }

// .btn-sm {
//   padding: 5px 10px !important;
//   font-size: 12px !important;
//   line-height: 1.4 !important;
//   border-radius: 3px !important;
// }
