// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.title_input {
  font-size: 30;
  width: 300px;
  height: 40px;
}

input.subtile_title_input {
  font-size: 16;
  width: 300px;
  height: 40px;

}
