<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3 class="text-center">신규 부서 추가</h3>
      <%= render 'form', reporter_group: @reporter_group %>
    </div>
  </div>
</div>