<h3 class="text-center">모든 그래픽 의뢰 목록</h3>

<table class="table responsive nowrap table-hover" id="dttb-graphic_requests" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="date">날짜</th>
      <th data-data="user">User</th>
      <th data-data="designer">디자이너</th>
      <th data-data="request">요청/의뢰 설명</th>
      <th data-data="data">데이터</th>
      <th data-data="status">진행상황</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to '새로운 그래픽 의뢰', new_graphic_request_path %>