<h3>오피니언 저자</h3>
  <div class="col-xs-8 col-md-3">
    <%= render 'form', opinion_writer: @opinion_writer %>
  </div>
  <div class="col-xs-3 col-md-1">
    <img width="100%" height="100%" src="<%= @opinion_writer.profile_jpg_path %>"></img>
    <h5 align='center'>오피니언 저자 원본</h5>
  </div>
  <div class="col-xs-12 col-md-3">
    <% if browser.safari? %>
      <img width="100%" height="100%" src="<%= @opinion_writer.pdf_image_path %>"></img>
      <% elsif browser.chrome?  || browser.ie?%>
        <img width="100%" height="100%" src="<%= @opinion_writer.jpg_image_path %>"></img>
      <% end %>
  </div>
  <div class="col-xs-1 col-md-1">
    <p></p>
  </div>
