<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <% if user_signed_in? && current_user.role == "web_editor" %>
      <%= link_to "뉴스고", root_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to '뉴스고', change_current_issue_path(Issue.last), class: 'navbar-brand' %>
    <% end %>
  </div>
  <%#= link_to '뉴스고', change_current_issue_path(Issue.last), class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>

