<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">새로운 멤버 등록</h1>
      <%= render 'form', member: @member %>
    </div>
  </div>
</div>
